/* NAV BAR */
.navLink {
  padding: 8px 16px;
  font-size: 1.75rem;
  color: white;
}

.navLink:hover {
  color: white;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}

.dark-bg {
  background-color: #333;
}

/* Jumbotron */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  color: white;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .lead {
  color: white;
}

.jumbotron .container {
  max-width: 40rem;
}


/* Footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

 .mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

.mastfoot a {
  color: white;
}